<!DOCTYPE html>
<html>
<head>
	<title>bloger</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid d-flex justify-content-between">
          <a class="navbar-brand" href="#">Bloger</a>
          <div class="w-50 d-flex justify-content-sm-around">
            <a class="text-white" href="/article">articles</a>
            <a class="text-white" href="/categorie">categories</a>
            <a class="text-white" href="/comment">comments</a>
            <a class="text-white" href="/evaluation">evaluations</a>
          </div>
        </div>
      </nav>